/*! ALPHA (NOT FOR RELEASE) 2.7.4 (SVN-####) unstationary 20140305T1058 */
/* page models */
/* line 1, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
#app-viewport {
  position: relative;
}

/* line 5, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.key img {
  cursor: pointer;
}

/* line 11, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.filter-icon {
  display: block;
  background: transparent;
  border: none;
  white-space: nowrap;
}
/* line 17, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.filter-icon ul, .filter-icon li, .filter-icon img {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 22, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.filter-icon img {
  margin-right: 2px;
  vertical-align: top;
}

/* line 30, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.cluster-icon {
  display: block;
  background: transparent;
  border: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
/* line 38, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.cluster-icon img {
  margin: 0;
  padding: 0;
  display: block;
}
/* line 44, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.cluster-icon span {
  margin: -30px 0 12px 16px;
  display: block;
  color: #fff;
}

/* line 52, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.leaflet-container {
  border: 2px solid #fff;
}

/* line 55, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.leaflet-container:focus, .leaflet-clickable:focus, .leaflet-control-layers-selector:focus {
  border: 4px solid #eab754;
  outline: #eab754 auto 5px;
}

/* line 59, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.leaflet-clickable:focus {
  width: inherit !important;
  height: inherit !important;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 71, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.leaflet-control-zoom-in {
  background-image: url(../images/skin/map-marker/icon-zoom-in.png);
}

/* line 75, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.leaflet-control-zoom-out {
  background-image: url(../images/skin/map-marker/icon-zoom-out.png);
}

/* line 78, ../../../src/qgov/assets/v2/style/pattern/_map.scss */
.leaflet-bar a {
  text-indent: -50em;
}

/* required styles */
/* line 16, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 21, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
}

/* line 27, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* line 34, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
/* line 38, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container img {
  max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
/* line 42, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}

/* line 45, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

/* line 49, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 52, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
/* line 57, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

/* line 61, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-tile-pane {
  z-index: 2;
}

/* line 62, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-objects-pane {
  z-index: 3;
}

/* line 63, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-overlay-pane {
  z-index: 4;
}

/* line 64, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-shadow-pane {
  z-index: 5;
}

/* line 65, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-marker-pane {
  z-index: 6;
}

/* line 66, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-popup-pane {
  z-index: 7;
}

/* line 68, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

/* line 72, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */
/* line 81, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}

/* line 87, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* line 92, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-top {
  top: 0;
}

/* line 95, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-right {
  right: 0;
}

/* line 98, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 101, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-left {
  left: 0;
}

/* line 104, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 108, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 111, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 114, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 117, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 120, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
/* line 128, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 136, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 140, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

/* line 148, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 155, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
/* line 162, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-clickable {
  cursor: pointer;
}

/* line 165, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* line 170, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

/* line 174, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* visual tweaks */
/* line 183, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container {
  background: #ddd;
  outline: 0;
}

/* line 187, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container a {
  color: #0078A8;
}

/* line 190, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

/* line 193, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
/* line 200, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */
/* line 207, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

/* line 212, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* line 224, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

/* line 229, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

/* line 232, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 236, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

/* line 241, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

/* line 247, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* zoom control */
/* line 257, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}

/* line 261, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-zoom-out {
  font-size: 20px;
}

/* line 265, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}

/* line 268, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}

/* line 272, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-zoom-fullscreen {
  background-image: url(../images/skin/map-marker/icon-fullscreen.png);
}

/* line 273, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
  z-index: 99999;
}

/* line 274, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-pseudo-fullscreen {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 99999;
}

/* line 276, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
#map_canvas:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
  z-index: 99999;
}

/* line 277, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
#map_canvas:-moz-full-screen {
  width: 100% !important;
  height: 100% !important;
  z-index: 99999;
}

/* line 278, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
#map_canvas:full-screen {
  width: 100% !important;
  height: 100% !important;
  z-index: 99999;
}

/* layers control */
/* line 282, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

/* line 287, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-layers-toggle {
  background-image: url(../images/skin/map-marker/layers.png);
  width: 36px;
  height: 36px;
}

/* line 292, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(../images/skin/map-marker/layers-2x.png);
  background-size: 26px 26px;
}

/* line 296, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

/* line 301, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

/* line 304, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

/* line 308, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

/* line 313, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

/* line 318, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-layers label {
  display: block;
}

/* line 321, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* attribution and scale controls */
/* line 330, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}

/* line 336, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}

/* line 340, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-attribution a {
  text-decoration: none;
}

/* line 343, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}

/* line 347, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}

/* line 350, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

/* line 353, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

/* line 356, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}

/* line 370, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}

/* line 375, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

/* line 381, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

/* line 385, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */
/* line 393, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
}

/* line 397, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}

/* line 402, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

/* line 406, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-popup-content p {
  margin: 18px 0;
}

/* line 409, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

/* line 416, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 430, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

/* line 435, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

/* line 449, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

/* line 452, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* line 458, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}

/* line 461, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

/* line 468, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

/* line 475, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */
/* line 482, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

@media print {
  /* line 489, ../../../src/qgov/assets/v2/style/lib/maps/_leaflet.scss */
  div.leaflet-control-container {
    display: none;
    background: none;
  }
}
/* line 1, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.scss */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

/* line 1, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

/* line 4, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

/* line 8, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

/* line 11, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

/* line 15, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

/* line 18, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
/* line 23, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.leaflet-oldie .marker-cluster-small {
  background-color: #b5e28c;
}

/* line 26, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.leaflet-oldie .marker-cluster-small div {
  background-color: #6ecc39;
}

/* line 30, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.leaflet-oldie .marker-cluster-medium {
  background-color: #f1d357;
}

/* line 33, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.leaflet-oldie .marker-cluster-medium div {
  background-color: #f0c20c;
}

/* line 37, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.leaflet-oldie .marker-cluster-large {
  background-color: #fd9c73;
}

/* line 40, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.leaflet-oldie .marker-cluster-large div {
  background-color: #f18017;
}

/* line 44, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

/* line 48, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 58, ../../../src/qgov/assets/v2/style/lib/maps/_MarkerCluster.Default.scss */
.marker-cluster span {
  line-height: 30px;
}

/* Results items */
/* line 4, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 9, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results li {
  clear: both;
}

/* line 12, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results h3 {
  margin: 1em 0 0;
  padding: 0;
  font-size: 120%;
  font-weight: normal;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

/* line 19, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results p {
  padding: 0;
  margin: 0;
}

/* line 23, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results a {
  text-decoration: none;
  display: block;
  float: left;
}

/* line 28, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results a .result-title {
  text-decoration: underline;
}

/* line 31, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-description {
  display: block;
  float: left;
  clear: both;
}

/* line 36, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results .meta {
  color: green;
  font-size: 100%;
  display: block;
  clear: both;
}

/* line 42, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results .meta a {
  float: none;
}

/* line 46, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results .meta a:hover,
.search-results .meta a:active {
  text-decoration: underline;
}

/* smartjobs */
/* line 51, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
ol.jobs li {
  position: relative;
  margin: 1em 0 2.3em;
  padding-bottom: 2.3em;
  border-bottom: 1px solid #D9D9D9;
}

/* line 57, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
ol.jobs h3 {
  float: left;
  margin-top: 0;
}

/* line 61, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
ol.jobs .search-description {
  clear: both;
  display: block;
  float: none;
  margin: 1em 0;
}

/* line 67, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
ol.jobs .type {
  display: block;
  clear: left;
  font-size: 90%;
}

/* line 72, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
ol.jobs .location {
  float: right;
  list-style: none;
  padding: 0;
  width: 15em;
  text-align: right;
}

/* line 79, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
ol.jobs .location li {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 84, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
ol.jobs .meta {
  margin-right: 13em;
}

/* line 87, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
ol.jobs .meta time {
  color: #444;
  position: absolute;
  right: 0;
  /*bottom: 1em;*/
  width: 12em;
  text-align: right;
}

/* recommend results */
/* line 97, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
#search-recommended {
  margin: 2.75em 0 1.75em 0;
  clear: both;
  overflow: hidden;
}

/* line 102, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results .result-title {
  float: left;
  margin-right: .7em;
}

/* line 106, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results .recommended {
  color: red;
  font-size: 80%;
  text-decoration: none;
}

/* line 111, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-results .file-meta {
  color: #0456FF;
  font-size: 80%;
  padding-top: .15em;
}

/* search results block */
/* line 118, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
h2.resultset-title {
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: .4em 0 .3em 0;
  display: block;
  font-size: 120%;
  margin: .83em 0 0 0;
}

/* line 127, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-box-group {
  margin-bottom: 2em;
}

/* line 130, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-utilities {
  font-size: 94%;
  /* 94% of 80% = 75% */
  line-height: 1.25em;
  /*float: left;*/
  margin: 1em 0;
}

/* line 136, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-scope {
  font-size: 94%;
  /* 94% of 80% = 75% */
  margin-top: .5em;
  border: none;
}

/* line 141, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-scope strong {
  float: left;
  color: #000;
  padding: 0;
  font-weight: normal;
  padding-right: 1em;
}

/* line 149, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-box-group form {
  /*float: left;*/
  padding: 0;
}

/* line 153, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-box-group fieldset input {
  vertical-align: middle;
  margin-right: .2em;
}

/* line 157, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-box-group fieldset label {
  margin-right: 1em;
}

/* line 161, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
fieldset.search-inputs {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 166, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-box-group form {
  margin: 1em 0;
}

/* line 169, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-query-body {
  font-size: 140%;
  margin-top: .1em;
}

/* line 174, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
.search-submit-body {
  padding: .2em .5em;
}

/* pagination */
/* .pagination is defined in another style sheet! */
/* line 180, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
#pagination {
  /*margin: 0.7em 0em 0em 3em;*/
  clear: both;
  margin: 1em 0;
  overflow: hidden;
}

/* line 186, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
#pagination ul {
  padding: 0;
}

/* line 189, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
#pagination li {
  display: block;
  list-style: none;
  float: left;
  margin: 0 .3em;
}

/* line 195, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
#pagination li a {
  padding: 0 .2em;
}

/* line 199, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
#pagination li.previous,
#pagination li.next {
  margin: 0;
}

/* line 202, ../../../src/qgov/assets/v2/style/page-model/_search-results.scss */
#pagination li.previous {
  margin-right: .3em;
}

/* Guide content (multipage) */
/* line 4, ../../../src/qgov/assets/v2/style/pattern/search/_pagination.scss */
.pagination {
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin: 2em 0 1em;
  padding: 0;
}

/* line 12, ../../../src/qgov/assets/v2/style/pattern/search/_pagination.scss */
.pagination .previous a,
.pagination .next a {
  float: left;
  background: #e5e5e5 url(../images/skin/bg-button.png) left top repeat-x;
  border: 1px solid #ababab;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 20, ../../../src/qgov/assets/v2/style/pattern/search/_pagination.scss */
.pagination .next {
  float: right;
}

/* line 23, ../../../src/qgov/assets/v2/style/pattern/search/_pagination.scss */
.pagination .previous a .pagination-button-inner {
  display: block;
  margin: -1px;
  padding: .2em 1em .4em 2em;
  background: transparent url(../images/skin/bg-previous-arrow.png) left center no-repeat;
}

/* line 29, ../../../src/qgov/assets/v2/style/pattern/search/_pagination.scss */
.pagination .next a .pagination-button-inner {
  display: block;
  margin: -1px;
  padding: .2em 2em .4em 1em;
  background: transparent url(../images/skin/bg-next-arrow.png) right center no-repeat;
}

/* line 36, ../../../src/qgov/assets/v2/style/pattern/search/_pagination.scss */
.pagination .previous a:hover,
.pagination .next a:hover {
  background: #e5e5e5;
}

/* line 4, ../../../src/qgov/assets/v2/style/pattern/search/_pajinate.scss */
.pagination .ellipse {
  float: left;
}
/* line 7, ../../../src/qgov/assets/v2/style/pattern/search/_pajinate.scss */
.pagination .active_page {
  color: black;
  text-decoration: none;
}
/* line 11, ../../../src/qgov/assets/v2/style/pattern/search/_pajinate.scss */
.pagination .page_link {
  margin: 0 5px 0 5px;
  display: block;
  float: left;
}
/* line 16, ../../../src/qgov/assets/v2/style/pattern/search/_pajinate.scss */
.pagination .previous_link {
  margin: 0 12px 0 0;
  display: block;
  float: left;
}
/* line 22, ../../../src/qgov/assets/v2/style/pattern/search/_pajinate.scss */
.pagination .previous_link.no_more,
.pagination .next_link.no_more {
  text-decoration: none;
}
/* line 25, ../../../src/qgov/assets/v2/style/pattern/search/_pajinate.scss */
.pagination .next_link {
  margin: 0 0 0 12px;
  display: block;
  float: left;
}
