/*! ALPHA (NOT FOR RELEASE) 2.7.4 (SVN-####) unstationary 20140305T1058 */
/* page models */
@media screen, projection, tv, handheld {
  /* Box-model issues (not double-margin bug). Half-margins here, results in similar margin with standards-conformant browsers */
  /* line 5, ../../../src/qgov/assets/v2/style/page-model/_ia-oldie.scss */
  #ia {
    *margin-top: -1em;
  }

  /* line 8, ../../../src/qgov/assets/v2/style/page-model/_ia-oldie.scss */
  #ia ul {
    _zoom: 1;
    /* needed so that box model bahaves */
  }

  /* line 11, ../../../src/qgov/assets/v2/style/page-model/_ia-oldie.scss */
  #ia .d1 {
    *margin-top: 1em;
    *margin-bottom: 1em;
  }
}
@media screen, projection, tv, handheld {
  /* line 4, ../../../src/qgov/assets/v2/style/page-model/_search-results-oldie.scss */
  #search-recommended {
    *display: inline;
    /* IE7 fix for double margin bug */
  }

  /* cursor not working correctly on title */
  /* line 9, ../../../src/qgov/assets/v2/style/page-model/_search-results-oldie.scss */
  a .result-title {
    *cursor: pointer;
  }
}
@media screen, projection, tv, handheld {
  /* Layout */
  /* line 5, ../../../src/qgov/assets/v2/style/page-model/_home-oldie.scss */
  #header .box-sizing {
    _overflow: visible;
    /* IE6 */
  }

  /* line 10, ../../../src/qgov/assets/v2/style/page-model/_home-oldie.scss */
  #weather-and-selection,
  #weather-and-selection * {
    _zoom: 1;
    /* IE6 */
  }

  /* line 14, ../../../src/qgov/assets/v2/style/page-model/_home-oldie.scss */
  #weather-and-selection ul,
  #weather-and-selection li {
    _zoom: 0;
    /* IE6 */
  }

  /* Homepage tweaks */
  /* line 19, ../../../src/qgov/assets/v2/style/page-model/_home-oldie.scss */
  .home #article {
    _display: inline;
    /* IE6 tweak */
  }

  /* line 24, ../../../src/qgov/assets/v2/style/page-model/_home-oldie.scss */
  .home #my-community #local-tonight,
  .home #my-community #local-today,
  .home #my-community #local .controlset {
    min-width: 130px;
    /* IE7 needs this */
    clear: right;
  }

  /* line 28, ../../../src/qgov/assets/v2/style/page-model/_home-oldie.scss */
  .home #my-community .inputs select {
    _width: 150px;
    /* IE6 needs help */
  }

  /* line 31, ../../../src/qgov/assets/v2/style/page-model/_home-oldie.scss */
  .home #main #search-query-primary {
    _line-height: 1em;
    /* Not sure where IE6 was getting a crazy large line-height from???? */
  }

  /* weather tabs fixes */
  /* line 36, ../../../src/qgov/assets/v2/style/page-model/_home-oldie.scss */
  #weather-and-selection .tabs li a {
    _color: #546A9A !important;
  }

  /* line 39, ../../../src/qgov/assets/v2/style/page-model/_home-oldie.scss */
  #weather-and-selection .tabs li {
    *float: none;
  }

  /* questions, on home page */
  /* line 44, ../../../src/qgov/assets/v2/style/page-model/_home-oldie.scss */
  #questions-content li {
    *float: none;
  }

  /* line 48, ../../../src/qgov/assets/v2/style/page-model/_home-oldie.scss */
  .home .news-items .section img {
    _width: 100%;
  }
}
@media screen, projection, tv, handheld {
  /* line 4, ../../../src/qgov/assets/v2/style/page-model/_news-oldie.scss */
  .page-news .news-archive li {
    *zoom: 1;
  }

  /* line 7, ../../../src/qgov/assets/v2/style/page-model/_news-oldie.scss */
  .page-news img.thumb {
    _width: 100%;
  }
}
/* line 8, ../../../src/qgov/assets/v2/style/page-model/_large-application-oldie.scss */
#app-viewport-tools,
#large-application #app-viewport-info {
  width: 25%;
}

/* line 12, ../../../src/qgov/assets/v2/style/page-model/_large-application-oldie.scss */
#app-viewport-overlay {
  background: #fff;
}

/* line 18, ../../../src/qgov/assets/v2/style/page-model/_large-application-oldie.scss */
#app-viewport-tools .viewport {
  background: #fff;
}

/* line 25, ../../../src/qgov/assets/v2/style/page-model/_large-application-oldie.scss */
.viewport #app-viewport-tools,
.viewport-info #app-viewport-tools {
  margin-left: -25%;
  *visibility: hidden;
}

/* line 31, ../../../src/qgov/assets/v2/style/page-model/_large-application-oldie.scss */
.viewport #app-viewport-info,
.viewport-tools #app-viewport-info {
  margin-right: -25%;
  *visibility: hidden;
}

/* line 38, ../../../src/qgov/assets/v2/style/page-model/_large-application-oldie.scss */
#app-viewport-overlay {
  filter: alpha(opacity=30);
}

/* line 44, ../../../src/qgov/assets/v2/style/page-model/_large-application-oldie.scss */
.viewport-bubble {
  background-color: #F4FFD9;
}

/* line 47, ../../../src/qgov/assets/v2/style/page-model/_large-application-oldie.scss */
.viewport-bubble.key {
  background-color: #fff;
}

/* patterns */
@media screen, projection, tv, handheld {
  /* line 5, ../../../src/qgov/assets/v2/style/pattern/aside/_aside-oldie.scss */
  .section-header p.more,
  .section-header p.feed {
    *height: 2em;
    /* IE6 is weird. */
  }

  /* line 8, ../../../src/qgov/assets/v2/style/pattern/aside/_aside-oldie.scss */
  * + html .section-header p.more {
    *line-height: 2.5em;
    /* IE7 is weirder. */
    *margin-top: -.5em;
  }

  /* line 13, ../../../src/qgov/assets/v2/style/pattern/aside/_aside-oldie.scss */
  #asides .contact ul li {
    _list-style-type: none;
    /* IE6 needs more convincing */
    _list-style-image: none;
  }

  /* line 18, ../../../src/qgov/assets/v2/style/pattern/aside/_aside-oldie.scss */
  .aside.emergency-contact p {
    _height: 3.5em;
    /* min-height for IE6 */
  }
}
@media screen, projection, tv, handheld {
  /* max-width for images */
  /*.aside img,*/
  /* line 9, ../../../src/qgov/assets/v2/style/pattern/_figures-oldie.scss */
  .figure img,
  .cut-in img,
  .cut-in-alt img,
  .featured img {
    _width: 100%;
  }
}
/* primary action */
/* line 19, ../../../src/qgov/assets/v2/style/pattern/form/_button-oldie.scss */
form strong button,
strong .ui-button,
.actions strong .button,
.actions strong input,
form strong button:hover,
form strong button:focus,
strong .ui-button:hover,
strong .ui-button:focus,
.actions strong .button:hover,
.actions strong .button:focus,
.actions strong input:hover,
.actions strong input:focus,
form strong button:active,
strong .ui-button:active,
.actions strong .button:active,
.actions strong input:active {
  background-image: url("../images/skin/bg-launch-app-arrow.png");
  background-position: 97% 50%;
}

/* alternate primary action */
/* line 39, ../../../src/qgov/assets/v2/style/pattern/form/_button-oldie.scss */
form em button,
em .ui-button,
.actions em .button,
.actions em input,
form em button:hover,
form em button:focus,
em .ui-button:hover,
em .ui-button:focus,
.actions em .button:hover,
.actions em .button:focus,
.actions em input:hover,
.actions em input:focus,
form em button:active,
em .ui-button:active,
.actions em .button:active,
.actions em input:active {
  background-image: url("../images/skin/bg-launch-app-arrow.png");
  background-position: 97% 50%;
}

/* disabled buttons */
/* line 50, ../../../src/qgov/assets/v2/style/pattern/form/_button-oldie.scss */
form button[disabled],
.actions input[disabled],
form strong button[disabled],
.actions strong input[disabled],
form em button[disabled],
.actions em input[disabled] {
  background-image: none;
}

/* Feedback buttons */
/* line 55, ../../../src/qgov/assets/v2/style/pattern/form/_button-oldie.scss */
#post-page-options .button {
  border-color: #3085A2;
  border-radius: .3em;
  font-size: 90%;
  padding: 0.3em 1.5em;
  width: 6em;
  text-align: center;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F84A1', endColorstr='#1F5668',GradientType=0 );
}

/* line 67, ../../../src/qgov/assets/v2/style/pattern/form/_button-oldie.scss */
#post-page-options .button:hover,
#post-page-options .button:focus {
  background: #3085A2;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#469FBE', endColorstr='#1C415D',GradientType=0 );
}

/* line 73, ../../../src/qgov/assets/v2/style/pattern/form/_button-oldie.scss */
#post-page-options .button:active {
  /* reverse gradient */
  background: #234A68;
  /* reverse gradient */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#234A68', endColorstr='#3085A2',GradientType=0 );
}

@media screen, projection, tv, handheld {
  /* line 5, ../../../src/qgov/assets/v2/style/pattern/search/_pagination-oldie.scss */
  .pagination .next a .pagination-button-inner,
  .pagination .previous a .pagination-button-inner {
    /* IE6&7 can't handle the negative margins to make the buttons work */
    *background: none;
    *padding: .2em 1em .4em 1em;
  }
}
/* load on demand */
@media screen, projection, tv, handheld {
  /* forms */
  /* line 7, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  form ul,
  form ol,
  form li {
    /* needed for progressive disclosure */
    *zoom: 1;
  }

  /* line 15, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  form button,
  input,
  select,
  textarea {
    _border: 1px solid #ccc;
    *display: block;
    /* IE7 */
    _padding: .1em .3em;
  }

  /* line 20, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  .choices input {
    _border: none;
    /* no border on radio buttons and checkboxes */
  }

  /* line 25, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  form button,
  input,
  select {
    _overflow: visible;
    _line-height: 2em;
  }

  /* line 32, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  legend .label,
  legend .hint,
  legend .alert,
  legend span {
    *display: block;
    *width: 100%;
  }

  /* https://github.com/h5bp/html5-boilerplate/wiki/css */
  /* line 37, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  legend {
    *margin-left: -7px;
    *margin-right: -7px;
    _zoom: 1;
  }

  /* line 45, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  form .actions strong,
  form .actions em,
  form .actions input,
  form .actions li {
    *display: block;
    *float: left;
    *clear: none;
  }

  /* line 52, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  form button,
  a.button,
  .actions input {
    _color: #fff !important;
    /* IE6 color fix */
    /*background: #393E41;*/
    line-height: 1.5;
  }

  /* line 57, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  .invalid .alert {
    _font-weight: bold;
    _color: #AD0720;
  }

  /* line 61, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  .choices li input {
    *top: -2px;
    /* IE7 needs this */
  }

  /* line 64, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  .data dd {
    _zoom: 1;
  }

  /* line 68, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  .questions {
    position: relative;
  }

  /* line 72, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  .group .questions li.active,
  .questions li.active {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFBE6',EndColorStr='#00FFFBE6');
    /* AARRGGBB */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFBE6',EndColorStr='#00FFFBE6')";
    /* AARRGGBB */
  }
}
/* printing forms */
@media print {
  /* line 81, ../../../src/qgov/assets/v2/style/pattern/form/_form-oldie.scss */
  .actions a.button {
    _display: none !important;
    /* TODO why does IE6 need !important? */
  }
}
/* minicart */
/* line 4, ../../../src/qgov/assets/v2/style/pattern/_minicart-oldie.scss */
#ssq-minicart .topRight,
#ssq-minicart .bottomRight {
  _margin-right: expression(this.parentNode.offsetWidth%2==0 ? '0' : '-1px');
}

/* line 8, ../../../src/qgov/assets/v2/style/pattern/_minicart-oldie.scss */
#ssq-minicart .bottomRight,
#ssq-minicart .bottomLeft {
  _margin-bottom: expression(this.parentNode.offsetHeight%2==0 ? '0' : '-1px');
}

@media screen, projection, tv, handheld {
  /* Slideshow controls */
  /* line 7, ../../../src/qgov/assets/v2/style/pattern/_slideshow-oldie.scss */
  .compact-slideshow-active .sliding-tray,
  .compact-slideshow-active .section {
    _zoom: 1;
    _width: 100%;
  }

  /* line 12, ../../../src/qgov/assets/v2/style/pattern/_slideshow-oldie.scss */
  .slideshow .section {
    _text-align: left;
  }

  /* line 17, ../../../src/qgov/assets/v2/style/pattern/_slideshow-oldie.scss */
  .compact-slideshow-active .viewport,
  .compact-slideshow-active .controlbar {
    _zoom: 1;
    _overflow: hidden;
  }

  /*.compact-slideshow-active .actions {
  	_width: 8.5em;  IE6 needs a little more room 
  }*/
  /* Adjustment for IE6 */
  /* line 25, ../../../src/qgov/assets/v2/style/pattern/_slideshow-oldie.scss */
  * html .compact-slideshow-active .controlbar a span {
    *margin-top: 1.2em;
  }

  /* Adjustment for IE7 (must be separate declaration to IE6 block) */
  /* line 29, ../../../src/qgov/assets/v2/style/pattern/_slideshow-oldie.scss */
  * + html .compact-slideshow-active .controlbar a span {
    *margin-top: 1.2em;
  }

  /* line 34, ../../../src/qgov/assets/v2/style/pattern/_slideshow-oldie.scss */
  .compact-slideshow-active .panels a span.button-symbol,
  .compact-slideshow-active .panels a:link span.button-symbol,
  .compact-slideshow-active .panels a:visited span.button-symbol {
    _background-position: 7px 7px;
    /* IE6 needs help. */
  }
}
@media screen, projection, tv, handheld {
  /* tabs */
  /* line 5, ../../../src/qgov/assets/v2/style/pattern/_tabs-oldie.scss */
  .tabs li {
    _margin-right: 0;
    /* Not sure where IE6 was getting 1.5em from???? */
  }

  /* line 8, ../../../src/qgov/assets/v2/style/pattern/_tabs-oldie.scss */
  .tabs li a {
    _color: #fff !important;
    _text-decoration: none !important;
  }

  /* line 12, ../../../src/qgov/assets/v2/style/pattern/_tabs-oldie.scss */
  .tabs li.current a {
    _color: #2c3a43 !important;
  }
}
@media screen, projection, tv, handheld {
  /* line 4, ../../../src/qgov/assets/v2/style/pattern/_toc-oldie.scss */
  #toc a .page-number {
    *position: relative;
    /* fix clipping issue - http://is.gd/gS11z */
  }

  /* Guide Table of Contents */
  /* line 10, ../../../src/qgov/assets/v2/style/pattern/_toc-oldie.scss */
  #toc a .page-number,
  #nav-section a .page-number {
    padding: 0 .4em;
    /* IE6 says "I'm different" */
  }
}
@media screen, projection, tv, handheld {
  /* line 4, ../../../src/qgov/assets/v2/style/pattern/_tools-oldie.scss */
  .viewport .content li {
    /* IE6/7 FIXES */
    *zoom: 1;
    *float: left;
  }
}
/* jquery UI */
/* line 4, ../../../src/qgov/assets/v2/style/jquery-ui/_jquery-ui-qgov-custom-oldie.scss */
.ui-selectonemenu .ui-selectonemenu-label {
  /* Note: seems to be a width set that obscures most of the label? */
  overflow: visible;
}

@media screen, projection, tv, handheld {
  /* line 4, ../../../src/qgov/assets/v2/style/pattern/_qg-video-ie.scss */
  .qg-ovt-active .qg-ovt-options .download {
    width: 290px;
    /* This value must be dynamically set based on number of items within */
    display: inline;
    /* Double margin bug */
  }

  /* line 8, ../../../src/qgov/assets/v2/style/pattern/_qg-video-ie.scss */
  .qg-ovt-active .qg-ovt-options .download ul {
    _margin-left: 0;
    /* IE6 just gets this plain wrong. Reset to 0 to compensate */
  }

  /* line 12, ../../../src/qgov/assets/v2/style/pattern/_qg-video-ie.scss */
  .qg-ovt-active .qg-ovt-options .transcript {
    _bottom: -1px;
  }

  /* line 17, ../../../src/qgov/assets/v2/style/pattern/_qg-video-ie.scss */
  .qg-ovt-active .qg-ovt-options ul,
  .qg-ovt-active .qg-ovt-alternatives {
    _zoom: 1;
    /* IE6 peekaboo bug */
  }

  /* line 21, ../../../src/qgov/assets/v2/style/pattern/_qg-video-ie.scss */
  .qg-ovt-active .qg-ovt-alternatives ul.qg-ovt-options {
    _zoom: 1;
    /* IE6 doesn't apply position relative properly without this */
  }

  /* line 25, ../../../src/qgov/assets/v2/style/pattern/_qg-video-ie.scss */
  .qg-ovt-active .qg-ovt-transcript {
    _zoom: 1;
    /* IE6 applies a margin top on .qg-ovt-transcript without this */
  }

  /* line 30, ../../../src/qgov/assets/v2/style/pattern/_qg-video-ie.scss */
  .qg-ovt-active .qg-ovt-controls ul {
    /* IE 6 & 7 won't contain the floats */
    *float: none;
    *overflow: visible;
    *zoom: 0;
    *min-height: 38px;
    /* IE7 */
    _height: 38px;
    /* IE6 */
  }

  /* Clearfix for IE */
  /* line 40, ../../../src/qgov/assets/v2/style/pattern/_qg-video-ie.scss */
  .qg-ovt-active .qg-ovt-controls ul {
    zoom: 1;
    /* triggers hasLayout */
    display: block;
    /* resets display for IE/Win */
  }

  /* line 45, ../../../src/qgov/assets/v2/style/pattern/_qg-video-ie.scss */
  .qg-ovt-active .qg-ovt-controls .progress-bar .ui-slider-handle {
    margin-top: 0;
    /* IE6/7 needs nudging */
  }

  /* line 48, ../../../src/qgov/assets/v2/style/pattern/_qg-video-ie.scss */
  .qg-ovt-active .qg-ovt-controls .volume-slider .ui-slider-handle {
    margin-left: 0;
    /* IE6/7 needs nudging */
  }

  /*
  	IE6 & 7 don't support outline, give them border instead.
  
  .qg-ovt-active .qg-ovt-controls a.keyboard-focus,
  .qg-ovt-active .qg-ovt-options a.keyboard-focus {
  	border: 2px solid #f8be4c;
  }*/
}
/* TODO are these used? */
@media screen, projection, tv, handheld {
  /* SKIN-specific IE styles */
  /* line 17, ../../../src/qgov/assets/v2/style/pattern/aside/_featured-stories-oldie.scss */
  #featured-stories .stories-box-sizing,
  #featured-stories .story-box-sizing,
  #featured-stories .caption,
  #featured-stories .cut-in,
  #featured-stories .more,
  #featured-stories .more a,
  #featured-story,
  #featured-story .stories-box-sizing,
  #featured-story .story-box-sizing,
  #featured-story .caption,
  #featured-story .cut-in,
  #featured-story .more,
  #featured-story .more a {
    *zoom: 1;
    /* Make containers behave in IE6 & 7 */
  }

  /* line 20, ../../../src/qgov/assets/v2/style/pattern/aside/_featured-stories-oldie.scss */
  #featured-story p.more {
    _float: left;
    /* required to address a particularly strange peekaboo bug (when clicking on the .more link) */
  }

  /* line 24, ../../../src/qgov/assets/v2/style/pattern/aside/_featured-stories-oldie.scss */
  #featured-story .cut-in .caption,
  #featured-stories .cut-in .caption {
    *width: 110px;
    /* IE6&7 don't like to display positioned elements at full width, fake it */
  }
}
@media screen, projection, tv, handheld {
  /* line 5, ../../../src/qgov/assets/v2/style/pattern/_comparison-oldie.scss */
  .comparison,
  .comparison-inner {
    *zoom: 1;
    /* Make containers behave in IE6 & 7 */
  }

  	/* gradients
  
  	These filters work in IE6-9, but are only used for IE6-8 due to conditional comment loading this CSS.
  
  	Note that IE9 supports CSS border-radius.
  	Filters conflict with border-radius (they fill the bounding rectangle).
  	So we are not using gradients for IE9.
  
  	IE10 supports CSS for gradients and border-radius. These filters will not work in IE10.
  
  	Alpha colours are supported, using the format #AARRGGBB (not rgba!)
  
  	http://msdn.microsoft.com/en-us/library/ms532997(v=vs.85).aspx
  	*/
  /* line 23, ../../../src/qgov/assets/v2/style/pattern/_comparison-oldie.scss */
  .comparison {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFB8DDEF',EndColorStr='#FFFFFF');
    /* AARRGGBB */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFB8DDEF',EndColorStr='#FFFFFF')";
    /* AARRGGBB */
  }

  /* line 28, ../../../src/qgov/assets/v2/style/pattern/_comparison-oldie.scss */
  .comparison-inner {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFE5F2FF',EndColorStr='#FFFFFF');
    /* AARRGGBB */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFE5F2FF',EndColorStr='#FFFFFF')";
    /* AARRGGBB */
  }

  /* line 33, ../../../src/qgov/assets/v2/style/pattern/_comparison-oldie.scss */
  .advantage {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFBDEABF',EndColorStr='#FFFFFF');
    /* AARRGGBB */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFBDEABF',EndColorStr='#FFFFFF')";
    /* AARRGGBB */
  }

  /* line 38, ../../../src/qgov/assets/v2/style/pattern/_comparison-oldie.scss */
  .advantage .comparison-inner {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFE7FCEC',EndColorStr='#FFFFFF');
    /* AARRGGBB */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFE7FCEC',EndColorStr='#FFFFFF')";
    /* AARRGGBB */
  }

  /* line 43, ../../../src/qgov/assets/v2/style/pattern/_comparison-oldie.scss */
  .disadvantage {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFAB5AC',EndColorStr='#FFFFFF');
    /* AARRGGBB */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFAB5AC',EndColorStr='#FFFFFF')";
    /* AARRGGBB */
  }

  /* line 48, ../../../src/qgov/assets/v2/style/pattern/_comparison-oldie.scss */
  .disadvantage .comparison-inner {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFECE5',EndColorStr='#FFFFFF');
    /* AARRGGBB */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFECE5',EndColorStr='#FFFFFF')";
    /* AARRGGBB */
  }
}
